/* Start Screen Sizes */
/* 
[Google Chrome Inspect]
  320px
  375px
  425px
[Bootstrap Sizes]
  <576px   xs
  >=576px  sm
  >=768px  md
  >=992px  lg
  >=1200px xl
  >=1400px xxl 
*/
/* End Screen Sizes */
/* Start Variables */
:root {
  --bluegreen: #00adb5;
  --orange: #ff5722;
  --dark: #303841;
  --light: #f6f3f2;
  --black: #000000;
  --white: #ffffff;
  --light-AT: #f6f3f2de;
  /*It is the same as "light" but at 87% transperancy(alpha)*/
}

/* End Variables */
/* Start General */
.font-src {
  font-family: "Source Serif Pro", serif;
}

body {
  font-family: "DM Serif Display", serif;
}

body > div:first-of-type {
  min-height: calc(100vh - 72px);
}

body > div {
  background-color: var(--dark);
}
button {
  font-family: "Source Serif Pro", serif !important;
  font-weight: bold !important;
  border-radius: 4px !important;
  border: none !important;
  background-color: var(--orange);
}
/* Start Submit Cancel Buttons */
.buttons {
  display: flex;
  margin-top: 10px !important;
  align-self: flex-end !important;
}
.buttons button {
  color: var(--light) !important;
  padding: 10px 20px !important;
  text-transform: capitalize !important;
}
.buttons button:first-child {
  background-color: transparent !important;
}
/* End Submit Cancel Buttons */
a {
  text-decoration: none;
}
/* End General */
/* Start NavBar */
nav {
  background-color: var(--dark);
  height: 72px;
}

nav .navbar-nav {
  background-color: var(--dark);
  border-radius: 0 0 10px 10px;
}

.navbar-brand img {
  width: 40px;
}

nav .nav-item:nth-last-child(1) .nav-link {
  color: var(--orange) !important;
  font-weight: bold;
}

nav .nav-item:not(:nth-last-child(1)) .nav-link {
  color: var(--white);
}

nav .nav-item:not(:nth-last-child(1)) .nav-link.active,
nav .nav-item:not(:nth-last-child(1)) .nav-link:hover,
nav .nav-item:not(:nth-last-child(1)) .nav-link:focus {
  background-color: var(--orange);
}

nav .nav-item .nav-link {
  border-radius: 5px;
}

nav .navbar-toggler {
  border-color: transparent;
}

nav .navbar-toggler:focus {
  box-shadow: none;
}

/* End NavBar */
/* Start registration */
/* Very Small devices */
.registration {
  color: white;
  text-transform: capitalize;
  padding: 40px 0;
}

.registration .container img {
  display: none;
}

.registration .container form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
}

.registration .container form label {
  display: block;
}

.registration .container form input,
.registration .container form select {
  width: 100%;
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .registration .container {
    display: flex;
    justify-content: space-around;
  }
  .registration .container img {
    display: block;
    width: 30%;
  }
}

/* Start personal_info */
.personal_info {
}

/* End personal_info */
/* Start personal_info_edit */
.personal_info_edit {
}

/* End personal_info_edit */
/* Start voting_history */
.voting_history {
}

/* End voting_history */
/* Start elections */
.elections {
}

/* End elections */
/* Start voting_panel */
.voting_panel {
}

/* End voting_panel */
/* Start voting_results */
.voting_results {
}

/* End voting_results */
