/* Start Screen Sizes */
/* 
[Google Chrome Inspect]
  320px
  375px
  425px
[Bootstrap Sizes]
  <576px   xs
  >=576px  sm
  >=768px  md
  >=992px  lg
  >=1200px xl
  >=1400px xxl 
*/
/* End Screen Sizes */
/* Start Variables */
:root {
  --bluegreen: #00adb5;
  --orange: #ff5722;
  --dark: #303841;
  --light: #f6f3f2;
  --black: #000000;
  --white: #ffffff;
  --light-AT: #f6f3f2de;
  /*It is the same as "light" but at 87% transperancy(alpha)*/
}
/* End Variables */
/* Start General */
.font-src {
  font-family: "Source Serif Pro", serif;
}
body {
  font-family: "DM Serif Display", serif;
}
body > div:first-of-type {
  min-height: calc(100vh - 72px);
}
button {
  font-family: "Source Serif Pro", serif !important;
  font-weight: bold !important;
  border-radius: 4px !important;
  border: none !important;
}
a {
  text-decoration: none;
}
/* End General */
/* Start NavBar */
nav {
  background-color: var(--light);
  height: 72px;
}
nav .navbar-nav {
  background-color: var(--light);
  border-radius: 0 0 10px 10px;
}
.navbar-brand img {
  width: 40px;
}
nav .nav-item:nth-last-child(1) .nav-link {
  color: var(--bluegreen) !important;
  font-weight: bold;
}
nav .nav-item:not(:nth-last-child(1)) .nav-link {
  color: var(--black);
}
nav .nav-item:not(:nth-last-child(1)) .nav-link.active,
nav .nav-item:not(:nth-last-child(1)) .nav-link:hover,
nav .nav-item:not(:nth-last-child(1)) .nav-link:focus {
  background-color: var(--bluegreen);
}
nav .nav-item .nav-link {
  border-radius: 5px;
}
nav .navbar-toggler {
  border-color: transparent;
}
nav .navbar-toggler:focus {
  box-shadow: none;
}
@media (min-width: 768px) {
  nav .navbar-nav {
    font-size: 18px;
  }
}
/* End NavBar */
/* Start landing */
.landing {
  background-color: var(--light);
  position: relative;
  background-image: url(../imgs/your_vote_counts.png);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: -65px;
}
.landing .buttons-group {
  position: absolute;
  display: grid;
  row-gap: 20%;
  width: 175px;
}
.landing button {
  background-color: var(--bluegreen);
  width: 100%;
  padding: 10px 0;
}
/* start media query */
@media (max-width: 767px) {
  .landing {
    background-size: 150% 100%;
    background-position: -60px;
  }
  .landing .buttons-group {
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .landing button {
    font-size: 4vw;
  }
}
@media (min-width: 768px) {
  .landing {
    background-size: 150%;
    background-position: -145px;
  }
  .landing .buttons-group {
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
  }
  .landing button {
    font-size: 20px;
    padding: 10px 0;
  }
}
@media (min-width: 992px) {
  .landing {
    background-size: 110%;
    background-position: 20px;
  }
}
@media (min-width: 1200px) {
  .landing {
    background-size: 50%;
    background-position: 20px;
  }
  .landing .buttons-group {
    top: 48%;
    left: 80%;
  }
}
/* end media query */
/* End landing */
/* Start About */
.About {
  background-color: var(--lightAT);
  min-height: 100vh;
  display: flex;
  padding: 20px 0;
}
.About .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.About .container h1 {
  text-align: center;
  font-size: 40px;
  position: relative;
  height: fit-content;
}
.About .container h1::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 80%;
  background-color: var(--orange);
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.About .container p {
  text-align: justify;
  font-size: 20px;
  margin: 0;
}
@media (min-width: 576px) {
  .About .container {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
  .About .container h1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin: 0;
    transform: rotate(180deg);
    font-size: 50px;
    border-left: 2px solid var(--orange);
    height: 80%;
    text-align: center;
  }
  .About .container h1::before {
    display: none;
  }
  .About .container p {
    max-width: 425px;
    position: relative;
  }
}
@media (min-width: 768px) {
  .About .container h1 {
    font-size: 80px;
  }
  .About .container p {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .About .container h1 {
    font-size: 100px;
  }
  .About .container p {
    font-size: 30px;
    max-width: 60%;
  }
}
@media (min-width: 1440px) {
  .About .container h1 {
    font-size: 150px;
  }
  .About .container p {
    font-size: 40px;
    max-width: 60%;
  }
}
/* End About */
/* start features */
.features {
  background-color: var(--light-AT);
}
.features .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}
.features .container h1 {
  position: relative;
  font-size: 40px;
}
.features .container h1::before {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(100% + 30px);
  background-color: var(--bluegreen);
  bottom: 0;
  left: -15px;
}
.features .container .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.features .container .icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.features .container .icons svg {
  font-size: 30px;
  color: var(--orange);
}
.features .container .icons p {
  margin: 0;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .features {
    display: flex;
  }
  .features .container {
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
  }
  .features .container h1 {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    color: var(--dark);
    transform: rotate(180deg);
    font-size: 50px;
    margin: 0;
    border-left: 2px solid var(--bluegreen);
    height: 80%;
    text-align: center;
  }
  .features .container h1::before {
    display: none;
  }
  .features .container .right {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
  }
  .features .container .icons {
    flex-direction: row;
  }
  .features .container .icons svg {
    width: 60px;
  }
  .features .container .icons p {
    font-size: 20px;
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .features .container h1 {
    font-size: 80px;
  }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .features .container h1 {
    font-size: 100px;
  }
  .features .container .icons svg {
  }
  .features .container .icons p {
    font-size: 30px;
  }
}
/* Start Footer */
footer {
  padding: 50px 0;
  background-color: var(--dark);
  color: white;
  font-size: 18px;
  min-height: fit-content;
  display: flex;
  align-items: center;
  position: relative;
}
footer .container p:first-child {
  font-size: 18px;
  color: var(--bluegreen);
  position: relative;
  width: fit-content;
}
footer a {
  display: block;
  text-decoration: none;
  color: white;
}
footer .box3 p:first-child {
  color: white;
}
footer .container .box2 p:first-child::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  background-color: var(--bluegreen);
  bottom: 3px;
}
/* Very Small devices */
@media (max-width: 575px) {
  footer {
    padding: 20px !important;
  }
  footer .box2 .social {
    font-size: 30px;
    color: var(--bluegreen);
  }
  footer button {
    display: block;
    width: 103px;
    height: 35px;
    background-color: var(--orange);
    color: white;
    position: relative;
    left: 0;
    bottom: 0;
    border: transparent;
    margin-top: 20px;
    border-radius: 9px;
  }
  footer .box3 textarea {
    width: 283px;
    height: 157px;
  }
}
/* X-Small devices (portrait phones, less than 576px) // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  footer .box2 .social {
    font-size: 30px;
    color: var(--bluegreen);
  }
  footer button {
    display: block;
    width: 103px;
    height: 35px;
    background-color: var(--orange);
    color: white;
    position: relative;
    left: 0;
    bottom: 0;
    border: transparent;
    margin-top: 20px;
    border-radius: 9px;
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  footer .container {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 100px;
  }
  footer .box2 {
    display: grid;
    grid-template-columns: auto (2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: "one two three" "four four four";
  }
  footer .box2 .getin {
    grid-area: one;
    position: relative;
  }
  footer .box2 .know-more {
    grid-area: two;
    position: relative;
  }
  footer .box2 .follow {
    grid-area: three;
    position: relative;
  }
  footer .box2 .social {
    grid-area: four;
    font-size: 40px;
    color: var(--bluegreen);
    text-align: center;
  }
  footer .container .box1 {
    margin-bottom: 100px;
  }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  footer .container {
    display: grid;
    grid-template-columns: auto 300px auto;
    column-gap: 100px;
  }
  footer .box1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0 !important;
  }
  footer .container .box1::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: var(--orange);
    right: -20px;
    top: 0;
  }
  footer .box2 {
    position: relative;
  }
  footer .box2::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: var(--orange);
    right: -20px;
    top: 0;
  }
  footer .box3 form {
    width: 230px;
    height: 157px;
    position: relative;
  }
  footer button {
    display: block;
    width: 103px;
    height: 35px;
    background-color: var(--orange);
    color: white;
    position: absolute;
    right: 0;
    bottom: -120px;
    border: transparent;
    border-radius: 9px;
  }
}
/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  footer .container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 100px;
  }
}
/* End Footer */
/* Start welcome_email */
.welcome_email {
}
/* End welcome_email */
/* Start register_enter_code */
.register_enter_code {
}
/* End register_enter_code */
/* Start login */
.login {
  background-color: var(--light);
  color: var(--bluegreen);
  height: 100vh;
}
.login .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}
.login img {
  width: 250px;
  padding: 20px 0 0px;
}
.login form {
  width: 80%;
}
.login form > * {
  padding: 5px 0;
}
.login form label {
  display: block;
}
.login form input {
  background-color: var(--dark);
  color: var(--white);
}
.login a {
  text-decoration: none;
  color: var(--bluegreen);
}
.login .login-btn {
  border: transparent;
  background-color: var(--orange);
  padding: 10px;
  border-radius: 4px;
  color: var(--white);
  width: 100%;
}
.login p {
  color: black;
  text-align: end;
}
@media (min-width: 768px) {
  .login .container {
    flex-direction: row;
    row-gap: 0;
    column-gap: 5%;
  }
  .login img {
    width: 60%;
    padding: 0;
    transform: translate(-55px, -11px);
  }
  .login form {
    width: 30%;
  }
  .login .login-btn {
    width: 50%;
  }
  .login p {
    text-align: start;
  }
}
/* End login */
/* Start forgot_password */
.forgot_password {
  background-color: var(--light);
  color: var(--bluegreen);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  font-size: 18px;
}
.forgot_password img {
  width: 250px;
  padding: 20px 0 0px;
}
.forgot_password p {
  color: var(--bs-secondary-color);
  font-size: 14px;
}
.forgot_password form {
  width: 80%;
  max-width: 340px;
}
.forgot_password form label {
  display: block;
}
.forgot_password form input {
  background-color: var(--dark);
  color: var(--white);
  width: 100%;
  margin-bottom: 10px;
}
.forgot_password button {
  border: transparent;
  background-color: var(--orange);
  padding: 10px;
  border-radius: 4px;
  color: var(--white);
  width: 100%;
}
@media (min-width: 992px) {
  .forgot_password {
    flex-direction: row;
    row-gap: 0;
    column-gap: 5%;
  }
  .forgot_password img {
    width: 45%;
    padding: 0;
    transform: translate(-55px, -11px);
  }
  .forgot_password form {
    width: 30%;
  }
  .forgot_password button {
    width: 50%;
  }
}
/* End forgot_password */
/* Start verification */
.verification {
}
/* End verification */
/* Start forgot_enter_code */
.forgot_enter_code {
}
/* End forgot_enter_code */
/* Start re-enter_password */
.re-enter_password {
}
/* End re-enter_password */

/* start stepSection */
.stepsection {
  background: var(--light);
  padding-top: 70px;
  padding-bottom: 70px;
}

.stepsection .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.stepsection .headline h1 {
  font-size: 80px;
  color: var(--dark);
  position: relative;
  width: fit-content;
}
.stepsection .headline h1::before {
  content: " ";
  position: absolute;
  width: 70%;
  height: 2px;
  background: var(--bluegreen);
  bottom: 0px;
}

.stepsection .container .foursteps {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.stepsection .foursteps p {
  color: var(--orange);
  font-size: 60px;
  position: relative;
  top: 10px;
}

.stepsection .foursteps h4 {
  font-weight: 400;
  font-size: 30px;
}

@media (min-width: 320px) {
  .stepsection .container .foursteps div {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
  }
  .stepsection .foursteps h4 {
    font-size: 20px;
  }
  .stepsection .headline h1 {
    font-size: 28px;
  }
  .stepsection .foursteps p {
    font-size: 30px;
  }
}

@media (min-width: 425px) {
  .stepsection .container .foursteps div {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
  }
  .stepsection .foursteps h4 {
    font-size: 22px;
  }
  .stepsection .headline h1 {
    font-size: 35px;
  }
  .stepsection .foursteps p {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .stepsection .container .foursteps div {
    flex-direction: row;
    gap: 15px;
  }
  .stepsection .container .foursteps {
    align-items: flex-start;
  }

  .stepsection .foursteps h4 {
    font-size: 25px;
  }
  .stepsection .headline h1 {
    font-size: 45px;
  }
  .stepsection .foursteps p {
    font-size: 35px;
    width: 40px;
  }
}

/* end stepSection */
