/* Start Variables */
:root {
  --bluegreen: #00adb5;
  --orange: #ff5722;
  --dark: #303841;
  --light: #f6f3f2;
  --black: #000000;
  --white: #ffffff;
  --light-AT: #f6f3f2de; /*It is the same as "light" but at 87% transperancy(alpha)*/
}
/* End Variables */
/* Start General */
.font-src {
  font-family: "Source Serif Pro", serif;
}
body {
  font-family: "DM Serif Display", serif;
}
body > div:first-of-type {
  min-height: calc(100vh - 86px);
}
/* End General */
/* Start NavBar */
nav {
  background-color: var(--light);
}
nav .nav-item:nth-last-child(1) .nav-link {
  color: var(--bluegreen) !important;
  font-weight: bold;
}
nav .nav-item:not(:nth-last-child(1)) .nav-link {
  color: var(--black);
}
nav .nav-item:not(:nth-last-child(1)) .nav-link.active,
nav .nav-item:not(:nth-last-child(1)) .nav-link:hover,
nav .nav-item:not(:nth-last-child(1)) .nav-link:focus {
  background-color: var(--bluegreen);
}
nav .nav-item .nav-link {
  border-radius: 5px;
}
nav .navbar-toggler {
  border-color: transparent;
}
nav .navbar-toggler:focus {
  box-shadow: none;
}
/* End NavBar */
/* Start landing */
.landing {
  background-color: var(--light);
}
/* End landing */
/* Start Footer */
footer {
  background-color: var(--dark);
  color: white;
  font-size: 18px;
  min-height: fit-content;
  height: 500px;
  display: flex;
  align-items: center;
}

footer .container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 100px;
}

footer .box1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .container .box1::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: var(--orange);
  right: -20px;
  top: 0;

}

footer .box2 {
  display: grid;
  grid-template-columns: auto (2, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas: "one two three" "four four four";
}

footer .box2 .getin {
  grid-area: one;
  position: relative;
}

footer .box2 .know-more {
  grid-area: two;
  position: relative;
}

footer .box2 .follow {
  grid-area: three;
  position: relative;
}

footer .box2 .social {
  grid-area: four;
  font-size: 40px;
  color: var(--bluegreen);
  text-align: center;
}

footer .box2 {
  position: relative;
}

footer .box2::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: var(--orange);
  right: -20px;
  top: 0;
}

footer .box3 form {
  width: 283px;
  height: 157px;
  position: relative;
}

footer .box3 input {
  width: 283px;
  height: 157px;
  position: relative;
}

footer button {
  display: block;
  width: 103px;
  height: 35px;
  background-color: var(--orange);
  color: white;
  position: absolute;
  right: 0;
  bottom: -50px;
  border: transparent;
  border-radius: 9px;
}

footer .container p:first-child {
  font-size: 18px;
  color: var(--bluegreen);
  position: relative;
  width: fit-content;
}

footer a {
  display: block;
  text-decoration: none;
  color: white
}

footer .box3 p:first-child{
  color: white;
}
footer .container .box2 p:first-child::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  background-color: var(--bluegreen);
  bottom: 3px;
}
/* End Footer */
/* Start welcome_email */
.welcome_email {
}
/* End welcome_email */
/* Start register_enter_code */
.register_enter_code {
}
/* End register_enter_code */
/* Start login */
.login {
}
/* End login */
/* Start forgot_password */
.forgot_password {
}
/* End forgot_password */
/* Start verification */
.verification {
}
/* End verification */
/* Start forgot_enter_code */
.forgot_enter_code {
}
/* End forgot_enter_code */
/* Start re-enter_password */
.re-enter_password {
}
/* End re-enter_password */
