/* Start Screen Sizes */
/* 
[Google Chrome Inspect]
  320px
  375px
  425px
[Bootstrap Sizes]
  <576px   xs
  >=576px  sm
  >=768px  md
  >=992px  lg
  >=1200px xl
  >=1400px xxl 
*/
/* End Screen Sizes */
/* Start Variables */
:root {
  --bluegreen: #00adb5;
  --orange: #ff5722;
  --dark: #303841;
  --light: #f6f3f2;
  --black: #000000;
  --white: #ffffff;
  --light-AT: #f6f3f2de; /*It is the same as "light" but at 87% transperancy(alpha)*/
}
/* End Variables */
/* Start General */
.font-src {
  font-family: "Source Serif Pro", serif;
}
body {
  font-family: "DM Serif Display", serif;
}
body > div:first-of-type {
  min-height: calc(100vh - 72px);
}
body > div {
  background-color: var(--dark);
}
/* End General */
/* Start NavBar */
nav {
  background-color: var(--dark);
  height: 72px;
}
nav .navbar-nav {
  background-color: var(--dark);
}
.navbar-brand img {
  width: 40px;
}
nav .nav-item:nth-last-child(1) .nav-link {
  color: var(--orange) !important;
  font-weight: bold;
}
nav .nav-item:not(:nth-last-child(1)) .nav-link {
  color: var(--white);
}
nav .nav-item:not(:nth-last-child(1)) .nav-link.active,
nav .nav-item:not(:nth-last-child(1)) .nav-link:hover,
nav .nav-item:not(:nth-last-child(1)) .nav-link:focus {
  background-color: var(--orange);
}
nav .nav-item .nav-link {
  border-radius: 5px;
}
nav .navbar-toggler {
  border-color: transparent;
}
nav .navbar-toggler:focus {
  box-shadow: none;
}
/* End NavBar */
/* Start registration */
.registration {
}
/* End registration */
/* Start personal_info */
.personal_info {
}
/* End personal_info */
/* Start personal_info_edit */
.personal_info_edit {
}
/* End personal_info_edit */
/* Start voting_history */
.voting_history {
}
/* End voting_history */
/* ----------------------------- */
/* Start elections */
.elections .elec{
  color: var(--white);
  font-size: xx-large;
  display: flex;
align-items: center;
text-align: center;
padding-left: 15px;
}
.elections .curr,
.elections .upcome,
.elections .past{
  margin-bottom: 20px; 
}
.curr h1, 
.upcome h1,
.past h1{
font-size: 10px;
font-weight: normal;
color: var(--white);
margin-left: 15px;

}
.curr,
.upcome,
.past{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin-left:5%;
}
.curr .curr1,
.upcome .upcome1,
.upcome .upcome2,
.past .past1,
.past .past2,
.past .past3{
  background-color: var(--light);
  /* width: 98%; */
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 1%;

}
  .curr .curr1 p,
  .upcome .upcome1 p,
  .upcome .upcome2 p,
  .past .past1 p,
.past .past2 p,
.past .past3 p{
  font-weight: 400;
  font-Size: 10px;
  Line-height:34.28px;
  margin-right: 10px;
  margin-left: 10px;
}
/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 575px){
  .curr .curr1,
  .upcome .upcome1,
  .upcome .upcome2,
  .past .past1,
  .past .past2,
  .past .past3{
    width: 95%;
    border-radius: 5px;
    margin-left: 7px;
  }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 768px) {
  .curr .curr1,
  .upcome .upcome1,
  .upcome .upcome2,
  .past .past1,
  .past .past2,
  .past .past3{
    width: 95%;
    border-radius: 5px;
    margin-left: 20px;
  }
  .curr h1, 
  .upcome h1,
  .past h1{
  margin-left: 20px;
}
}


/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 575px){}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 576px) { }

/* // Large devices (desktops, 992px and up)  */
@media (min-width: 768px) {}

/* // X-Large devices (large desktops, 1200px and up)  */
@media (min-width: 992px) {
  .curr .curr1,
.upcome .upcome1,
.upcome .upcome2,
.past .past1,
.past .past2,
.past .past3{
  height: 25%;
}
}

/* // XX-Large devices (larger desktops, 1400px and up) */ 
@media (min-width: 1200px) {}

/* End elections */
/* ----------------------------- */
/* Start voting_panel */
.voting_panel {
}
/* End voting_panel */
/* Start voting_results */
.voting_results {
}
/* End voting_results */
