/* Start Screen Sizes */
/* 
[Google Chrome Inspect]
  320px
  375px
  425px
[Bootstrap Sizes]
  <576px   xs
  >=576px  sm
  >=768px  md
  >=992px  lg
  >=1200px xl
  >=1400px xxl 
*/
/* End Screen Sizes */
/* Start Variables */
:root {
  --bluegreen: #00adb5;
  --orange: #ff5722;
  --dark: #303841;
  --light: #f6f3f2;
  --black: #000000;
  --white: #ffffff;
  --light-AT: #f6f3f2de; /*It is the same as "light" but at 87% transperancy(alpha)*/
}
/* End Variables */
/* Start General */
.font-src {
  font-family: "Source Serif Pro", serif;
}
body {
  font-family: "DM Serif Display", serif;
}
body > div:first-of-type {
  min-height: calc(100vh - 72px);
}
button {
  font-family: "Source Serif Pro", serif !important;
  font-weight: bold !important;
  border-radius: 4px !important;
}
a {
  text-decoration: none;
}
/* End General */
/* Start NavBar */
nav {
  background-color: var(--light);
  height: 72px;
}
nav .navbar-nav {
  background-color: var(--light);
  border-radius: 0 0 10px 10px;
}
.navbar-brand img {
  width: 40px;
}
nav .nav-item:nth-last-child(1) .nav-link {
  color: var(--bluegreen) !important;
  font-weight: bold;
}
nav .nav-item:not(:nth-last-child(1)) .nav-link {
  color: var(--black);
}
nav .nav-item:not(:nth-last-child(1)) .nav-link.active,
nav .nav-item:not(:nth-last-child(1)) .nav-link:hover,
nav .nav-item:not(:nth-last-child(1)) .nav-link:focus {
  background-color: var(--bluegreen);
}
nav .nav-item .nav-link {
  border-radius: 5px;
}
nav .navbar-toggler {
  border-color: transparent;
}
nav .navbar-toggler:focus {
  box-shadow: none;
}
@media (min-width: 768px) {
  nav .navbar-nav {
    font-size: 18px;
  }
}
/* End NavBar */
/* Start landing */
.landing {
  background-color: var(--light);
  position: relative;
  background-image: url(../imgs/your_vote_counts.png);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: -65px;
  
}
.landing .buttons-group {
  position: absolute;
  display: grid;
  row-gap: 20%;
  width: 175px;
}
.landing button {
  background-color: var(--bluegreen);
  border: transparent;
  width: 100%;
  padding: 10px 0;
}
/* start media query */
@media (max-width: 767px) {
  .landing {
    background-size: 150% 100%;
    background-position: -60px;
  }
  .landing .buttons-group {
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .landing button {
    font-size: 5vw;
  }
}
@media (min-width: 768px) {
  .landing {
    background-size: 150%;
    background-position: -145px;
  }
  .landing .buttons-group {
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
  }
  .landing button {
    font-size: 20px;
    padding: 10px 0;
  }
}
@media (min-width: 992px) {
  .landing {
    background-size: 110%;
    background-position: 20px;
  }
}
@media (min-width: 1200px) {
  .landing {
    background-size: 50%;
    background-position: 20px;
  }
  .landing .buttons-group {
    top: 48%;
    left: 80%;
  }
}
/* end media query */
/* End landing */

/* Start welcome_email */
.welcome_email {
}
/* End welcome_email */
/* Start register_enter_code */
.register_enter_code {
}
/* End register_enter_code */
/* Start login */
.login {
}
/* End login */
/* Start forgot_password */
.forgot_password {
}
/* End forgot_password */
/* Start verification */
.verification {
}
/* End verification */
/* Start forgot_enter_code */
.forgot_enter_code {
}
/* End forgot_enter_code */
/* Start re-enter_password */
.re-enter_password {
}
/* End re-enter_password */
