:root {
  --succes-color: #2ecc71;
  --error-color: #e74c3c;
}
input {
  border: 2px solid #f0f0f0;
}
input:focus {
  outline: 0;
  border-color: #777;
}
.success input {
  border-color: var(--succes-color);
}
.error input {
  border-color: var(--error-color);
}
small {
  display: block;
  color: var(--error-color);
  visibility: hidden;
}
.error small {
  visibility: visible;
}

